body {
  background-color: Azure;
}

h1 {
  font-family: Goudy Old Style;
  color: black;
  text-align: center;
}

h2 {
  font-family: Goudy Old Style;
  text-align: center;
}

h3 {
  font-family: Goudy Old Style;
  text-align: center;
}

p {
  font-family: Goudy Old Style;
  font-size: 20px;
}
